<div id="Manager" style="display:none;">
    <div class="API_method">
        <div class="method_name method_text">
            <span>Managers</span>
        </div>
        <div class="method_info method_text">
            <span>kequita</span>
        </div>
    </div>
</div>