<div id="Performer" style="display:none;">
    <div class="API_method">
        <div class="method_name method_text">
            <span>Performers</span>
        </div>
        <div class="method_info method_text">
            <span>kequita</span>
        </div>
    </div>
</div>

