@{
    ViewBag.Title = "Главная";
}
<section id="home" data-type="background" data-speed="6" class="pages">
    <div class="container">
        <div class="header">
            <h2>FCRM</h2>
            <p>То, что Вы так давно искали</p>
        </div>
    </div>
</section>
<div class="about container">
    <div class="text">
        <h2>Полный контроль над продажами</h2>
        <ul>
            <li>Нет бумажной волокиты</li>
            <li>Полная отчётность</li>
            <li>Удобная организация деятельности</li>
        </ul>
    </div>
    <img src="~/Img/ipad.png">
    <div style="clear:both;"></div>
</div>
<div class="steps">
    <div class="container">
        <div class="text">
            <h2>5 шагов к успеху вместе с FCRM:</h2>
            <ul>
                <li>1. Регистрируйте компанию</li>
                <li>2. Добавляете работников</li>
                <li>3. Внедряйте систему в рабочий процесс</li>
                <li>4. Зарабатывайте деньги</li>
                <li>5. Расширяйте бизнес</li>
            </ul>
        </div>
        <img src="~/Img/woman.png">
        <div style="clear:both;"></div>
    </div>
</div>
<div class="API">
    <div class="container">
        <div class="text">
            <h2>Продукт, написанный людьми для людей</h2>
            <p>Если интерфейс нашего веб-сайта Вас чем-то не устраивает, то Вы можете использовать наш REST API. Создавайте систему под свои нужды, используя все возможности нащего сервиса.</p>
        </div>
        <img src="~/Img/api.png">
    </div>
</div>